@use "@/scss/mixins" as *;

.grid {
  @include grid(absolute);
  top: 0;
  left: 0;
  background: #333;
  z-index: 0;

  .cell {
    width: 30px;
    height: 30px;
    background: #eee;
    z-index: 0;
  }
}
